.shop-product-wrapper{
	margin: 30px 20px 20px 20px;
}

.product-form-img{
	height : 300px;
	overflow: hidden;
}

#plusImgBtn{
	background-color: white;
	background-repeat: no-repeat;
	background-position: 2px 2px;
	border: 1px dashed #343a40;
	width: 30px;
	height: 30px;
	cursor: pointer;
	margin-top: 20px;
}

#product-img-add-block{
	display: block;
}

.btn-signin{
	background-color: #f8b195;
	border: none;
}

.btn-signin:hover{
	background-color: #f8b195;
	border: none;
}
.product-option-wrapper{
	margin-bottom: 10px;
}
.product-option-wrapper h6{
	text-align:center;
}



.inventroy-wrapper{
	margin-bottom: 10px;
}
ul.tagit li.tagit-choice{
	border-style:none;
	background-color: #f8b195;
}

span {
	font-size: 12px;
}

#product-img-add-block {
}

#preview-img{
	margin:auto;
	width:250px;
	height: 250px;
	display: block;
	margin-top: 10px;
}

.images{
	display:none;
}
.img{
	width : 100%;
	height: 100%;
}
.title-img input[type='image']{
	width: 80px;
	height: 80px;
}



